body {
	background-color: #131417;
}

.newspaper-spacing {
	position: relative;
	text-align: justify;
	text-justify: inter-word;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.flex-edge {
	flex: 0 0;
}

.flex-center {
	flex: 1 1 auto;
}

.chicken-container {
	padding: 0;
}

.beef-container {
	padding: 0;
}

.sushi-container {
	padding: 0;
}

.content-container {
	padding: 3em 3em 3em 3em;
	background-color: #2c303a;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18), 0 4px 8px rgba(0, 0, 0, 0.26);
}

.content-container span {
	color: white;
	font-family: Roboto;
	font-weight: 400;
}

h1 {
	color: white;
	font-family: Roboto;
	font-weight: 900;
}

.content-container>h3 {
	color: white;
	font-family: Roboto;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 1.5em;
}

.chicken-container .content-container>h3 {
	color: rgba(15, 225, 255, 1);
}

.beef-container .content-container>h3 {
	color: rgba(78, 153, 244, 1);
}

.sushi-container .content-container>h3 {
	color: rgba(173, 99, 228, 1);
}

.navbar-default {
	background: rgb(15, 225, 255);
	background: linear-gradient(10deg, rgba(15, 225, 255, 1) 0%, rgba(78, 153, 244, 1) 43%, rgba(173, 99, 228, 1) 100%);
	border: none;
}

.navbar-brand {
	color: white !important;
}

.navbar-toggle {
	background-color: white;
	border: none !important;
}

li.visible-xs {
	background-color: #fafafc;
	box-sizing: border-box;
	margin: 0;
}

li.visible-xs:nth-of-type(2) {
	border-top: 1px solid #cacacc;
	border-bottom: 1px solid #cacacc;
}

.nav.navbar-nav {
	margin: 0 -15px !important;
}

.navbar {
	border-radius: 0;
}


/* media-queries from bootstrap. Used for custom margins */


/* xs */

@media (max-width: 767px) {
	.chicken-content {
		margin: 4% 8%;
	}
	.beef-content {
		margin: 4% 8%;
	}
	.sushi-content {
		margin: 4% 8%;
	}
}


/* sm */

@media (min-width: 768px) and (max-width: 991px) {
	.chicken-content {
		margin: 2% 4% 2% 8%;
	}
	.beef-content {
		margin: 2% 8% 2% 4%;
	}
	.sushi-content {
		margin: 2% 4% 4% 4%;
	}
}


/* md */

@media (min-width: 992px) {
	.chicken-content {
		margin: 2% 3% 6% 6%;
	}
	.beef-content {
		margin: 2% 4.5%;
	}
	.sushi-content {
		margin: 2% 6% 6% 3%;
	}
}