<div class="container">
    <h2 class="text-center">Sign Up</h2>
    <fieldset>
        <form name="regForm" novalidate>
            <label>First Name: </label>
            <input type="text" name="firstName" ng-model="signUpCtrl.firstName" placeholder="First Name" pattern="^[a-zA-Z ]*$" required>
            <span ng-if="(regForm.firstName.$error.required || regForm.firstName.$invalid) && regForm.firstName.$touched"> Enter a First Name! (Characters only)</span>
            <br>
            <label>Last Name: </label>
            <input type="text" name="lastName" ng-model="signUpCtrl.lastName" placeholder="Last Name" pattern="^[a-zA-Z ]*$" required>
            <span ng-if="(regForm.lastName.$error.required || regForm.lastName.$invalid) && regForm.lastName.$touched"> Enter a Last Name! (Characters only)</span>
            <br>
            <label>Email: </label>
            <input type="text" name="email" ng-model="signUpCtrl.email" placeholder="email@address.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"required>
            <span ng-if="(regForm.email.$error.required || regForm.email.$invalid) && regForm.email.$touched"> Enter a Valid Email!</span>
            <br>
            <label>Phone Number: </label>
            <input type="text" name="phone" ng-model="signUpCtrl.phone" placeholder="111-222-3333" pattern="(\d{3})-(\d{3})-(\d{4})" required>
            <span ng-if="(regForm.phone.$error.required || regForm.phone.$invalid) && regForm.phone.$touched"> Enter a Valid Phone Number!</span>
            <br>
            <label>Favorite Menu Item: </label>
            <input type="text" name="favItem" ng-model="signUpCtrl.favItem" placeholder="A1" required>
            <span ng-if="(regForm.favItem.$error.required || signUpCtrl.checkItem($event)) && regForm.favItem.$touched"> Enter a Valid Item!</span>
            <br>
            <button
            ng-disabled="regForm.$invalid"
            ng-click="signUpCtrl.submit()">Submit</button>
        </form>
        <div ng-if="signUpCtrl.userSaved">Your information has been saved</div>
        
    </fieldset>
</div>